/* Layout base */
body {
	display: flex;
	flex-direction: column;
	min-height: 115vh;
	margin: 0;
	padding: 0;
}

.main {
	flex: 1;
	background-color: #121214;
	color: #F5F5F7;
	text-align: center;
}

/* Encabezado y pie */
.header {
	border: 2px solid #FFA903;
	background-color: #0E3FA9;
	color: #FFA903;
	text-align: center;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	font-size: 2rem;
    padding: 1.25rem;

    h1 {
        margin: 0;
    }

    a {
    text-decoration: none;
    color: inherit;
}

}

.footer {
	border: 2px solid #FFA903;
	background-color: #0E3FA9;
    padding: 1.10rem;
}

.footer-content {
    color: #F5F5F7;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.12rem;

    a {
        color: #FFA903;
        text-decoration: none;
    }

    p {
        margin: 0;
    }
    
}

.texto {
	font-size: 1.15rem;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	margin-bottom: 8.25rem;
}

/* Imagen principal y galeria */

.portada {
	display: flex;
	justify-content: center;
}

.portada img {
	width: 100%;
	height: auto;
	max-width: 58rem;
	margin: 2.5rem;
	border-radius: 10px;
	margin-top:4.5rem;
	box-shadow: #FFA903 0.15rem 0.15rem 1rem;
}

.contenedor-imagenes {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 75rem;
	gap: 4.15rem;
	margin: 5.5rem auto;
    margin-bottom: 9.5rem;
}

.img {
	flex: 0 0 18rem;
	width: 18rem;
	border-radius: 7px;
	box-shadow: #0E3FA9 0.5rem 0.5rem 1.5rem;
	transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.img:hover {
    transform: scale(1.08);
	box-shadow: #FFA903 0.5rem 0.5rem 1.5rem;
}

.contenedor-ficha {
	display: flex;
	align-items: flex-start;
	gap: 2rem;
	margin: 0 auto 3rem;
	max-width: 75rem;
}

.img-ficha {
	max-width: 30rem;
	border-radius: 7px;
	box-shadow: #FFA903 0.5rem 0.5rem 1.5rem;
}

.titulo-pelicula {
	font-size: 2rem;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	margin-bottom: 8.25rem;
	text-align: left;
	max-width: 75rem;
	margin: 3rem auto;
}

.texto-tecnico {
	font-size: 1.25rem;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	margin-bottom: 8.25rem;
	text-align: left;
	max-width: 75rem;
	margin: 0 auto;
	margin-left: 4rem;
}

/* Estilos para las dos fotos de abajo */
.galeria-dvd {
    display: flex;
    gap: 15rem;
    justify-content: center;
    max-width: 75rem;
    margin: 0 auto;
	margin-bottom: 8rem;
	margin-top: 5rem;
}

.img-dvd {
    max-width: 30rem;
	border-radius: 7px;
	box-shadow: #2A2D34 0.5rem 0.5rem 1.5rem;
}

@media (max-width: 768px) {
    
    .contenedor-ficha {
        flex-direction: column;   
        align-items: center;      
        gap: 1.5rem;              
    }

    
    .texto-tecnico {
        padding: 0 1rem;
    }

	.titulo-pelicula {
		text-align: center;
		padding: 0 1rem;
	}

    
    .galeria-dvd {
        flex-direction: column;   
        align-items: center;      
    }

    
    .img-dvd {
        max-width: 30rem;
    }
}